
/* *************************************************************************** */
/* ************************NEW TEMPLATE OF COLORS***************************** */
/* *************************************************************************** */
@sectionTitleColor: #79808A;
@mainButtonSectionColor: #51A8FF;
@mainOrangeColor: #FF9745;
@domainColor: #51A8FF;
@websiteColor: #45D3A6;
@emailColor: #DC4437;
@packamigoColor: #FFD600;
@databaseColor: #FFCC00;
@toolsColor:#FF005E;

@domainColorAlternative: #73B9FF;
@websiteColorAlternative: #7BD8BA;
@emailColorAlternative: #E67066;
@packamigoColorAlternative: #FCDF96;
@databaseColorAlternative: #000;
@toolsColorAlternative:#000;


@errorColor: #DC4437;
@errorColorAlternative: #E67066;
@successColor: #45D3A6;
@successColorAlternative: #7BD8BA;

body {
    color:#39364D;
}

.navbar-inverse {
    border-top: 3px solid #00D6FF;
}

#footer, .navbar-inverse .navbar-inner {
    background: #414A70!important;
}

a {
    color: #6F6975;
}

a:hover {
    color: #654497;
}

.suggestion {
    color: #F90;
    text-decoration: none;
}

.btn {
    /*background: #FAFAFA;*/
}

.badge.badge-primary,
.label.label-primary,
.btn.btn-success, .btn.btn-primary {
    background: #7582B6 !important;
}
.btn.btn-success:hover, .btn.btn-primary:hover {
    background: #515E91 !important;
}

.tt-suggestion.tt-is-under-cursor,
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
    background: #515E91;
}

.command-template i {
    color: #7582B6;
}

.badge.badge-orange {
    background: #E28181;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus,
input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus,
input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus,
input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: #8994BD;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(170, 186, 236, 0.99);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(170, 186, 236, 0.99);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(170, 186, 236, 0.99);
}

.whitelabel-logo-container {
    background: #414A70;
}