/* banner dominios*/

.btn-domain {
    margin-top: 2em;
    position: relative;
}

.squarebutton.domain.banner, .squarebutton.domain.banner:hover {
    background-color: #ededed !important;
    box-shadow: 0 5px 0 #ededed !important;
    text-align: left !important;
    padding-left: 2em;
    padding-right: 4em;
}

.squarebuttons > li.banner {
	margin-bottom: 0px !important;
	border: 1px solid #e9e9e9;
}

li.span3 > a.squarebutton > span.titulo-banner {
    color: black;
    font-size: 15px;
    display: inline-block;
    position: relative;
    margin-top: 2em;
}

li.span3 > a.squarebutton > span.subtitulo-banner {
    color: black;
    font-size: 18px;
    display: inline-block;
    position: relative;
    margin-top: 1em;
}

.btn-dominios {
    width: auto;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    vertical-align: bottom;
    padding: 10px 18px 8px;
    border: none;
    background-color: #f5f5f5;
    color: #505b65;
    font-size: 14px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: all .3s ease-out;
    text-shadow: none !important;
}

.btn-dominios.principal {
    background-color: #5CB85C;
    border-color: #408832;
    color: #fff;
    border-radius: 5px !important;
}

.btn-dominios.default {
    color: #293037;
    background-color: #EFEFEF;
    border-bottom: none;
    text-transform: none;
    padding-top: 14px !important;
}

.btn-dominios.large {
    padding: 14px 34px 14px;
    font-size: 18px;
}

.btn-dominios.small {
    padding: 9px 14px 9px;
    font-size: 14px;
}

.btn-dominios.principal:hover:not(.btn-disabled):not(.deshabilitado) {
    background-color: #33ba17;
    color: #fff;
}

.btn-dominios.default:hover:not(.btn-disabled):not(.deshabilitado) {
    background-color: #ffffff;
    color: black;
}

@media (min-width: 1200px) {
    .container {
        width: 1172px !important;
    }
}
/* fin banner dominios*/






/* Banner de Home*/
.br-display {
    display: none;
}

.producto-imagen {
    width: 35%;
    display: inline-block;
    vertical-align: top;
    }

.producto-descripcion {
    width: 60%;
    display:inline-block;
    text-align: left !important;
    padding-left: 1.5em;
}

.bloque-inferior {
    width: 46%;
    display: inline-block;
    padding-right: 1em;
    background-color: white;
    padding-bottom: 1em;
    padding-top: 1em;
    border: 1px solid #e9e9e9;
    vertical-align: top;
    margin-bottom: 5em;
}

.row-productos.redes {
    padding-left: 3em;
    padding-right: 3em;
}

.texto-producto {
    margin-top: 1em;
    width: 83%;
    margin-left: 1em;
    font-size: 16px;
    margin-bottom: 1em;
}

.texto-producto-inferior {
    margin-top: 1em;
    font-size: 16px;
    margin-bottom: 2em;
}

.pt-2x {
    padding-top: 2em;
}

.pt-5x {
    padding-top: 5em;
}

.bloque-superior {
    width: 29%;
    padding-left: 1.5em;
    padding-right: 1.5em;
    display: inline-block;
    vertical-align: top;
}

.link-producto {
    font-size: 16px;
    color: #31a1de;
    text-decoration: none;
    margin-left: 1em;
}

.link-producto:hover {
    text-decoration: underline;
}

.contenedor-productos {
    width: 100%;
    padding-top: 4em;
}

.row-productos {
    width: 100%
}

.ta-c {
    text-align: center !important;
}

.ta-l {
    text-align: left !important;
}

.ta-r {
    text-align: right !important;
}

.contenedor-buscar-dominios {
    background-color: white;
    padding-bottom: 1em;
    padding-top: 1em;
    border: 1px solid #e9e9e9;
}

.col-input-domain {
    width: 51.7%;
    display: inline-block;
    padding-left: 1em;
}

.col-md-7 {
    width: 58.33%
}

.col-img-banner {
    display: inline-block;
    vertical-align: top;
    width: 45.33%;
    padding-right: 1em;
}

.titulo-buscar-dominios {

}

.fw-300 {
    font-weight: 300 !important;
}


.fw-600 {
    font-weight: 600 !important;
}

.fs-15 {
    font-size: 15px !important;
}

.input-dominios-field {
    width: 100% !important;
    position: relative !important;
    margin-top: 1rem;
}

.input-dominios {
    background-color: transparent;
    border: none !important;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 90% !important;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
    border-bottom: 1px solid black !important;
    box-shadow: 0 1px 0 0 black !important;
    font-size: 24px !important;
    height: 60px !important;
    font-style: italic;
}

i.icono-busqueda {
    position: absolute !important;
    width: 3rem;
    font-size: 2.5rem;
    transition: color .2s;
    margin-top: 0.3em !important;
    margin-left: -1.5em !important;
    cursor: pointer;
}

hr {
    display: none;
}


@media (max-width: 500px) {
	
	.img-hidden {
		display: none;
	}

	.col-input-domain {
		width: 90% !important;
		display: block;
    	padding-left: 1em;
	}

	.contenedor-buscar-dominios {
		border: 1px solid #e9e9e9;
		background-color: white;
		padding-left: 0px !important;
	}

	.br-display {
		display: block;
	}

	.ta-c-mobile {
		text-align: center !important;
	}

	.no-padding-left {
		padding-left: 0 !important;
	}

	.no-padding-right {
		padding-right: 0 !important;
	}

	.bloque-superior {
		width: 65%;
	}

	.texto-producto {
		width: 100%;
		margin-left: 0em;
		margin-bottom: 2em;
	}

	.link-producto {
		margin-left: 0em;
	}

	.pt-1x {
		padding-top: 1em;	
	}
	
	.pb-1x {
		padding-bottom: 1em;	
	}

	.pl-1x {
		padding-left: 1em !important;
	}

	.bloque-inferior {
		width: 100%;
		margin-bottom: 2em;
		margin-right: 0em !important;
	}

	.producto-descripcion {
		width: 95%;
		padding-bottom: 2em;
	}


	.row-productos.ssl {
		margin-top: 3em;
		padding-top: 0;
	}

	hr { 
	    display: block;
	    margin-top: 2.5em;
	    margin-bottom: 0.5em;
	    margin-left: auto;
	    margin-right: auto;
	    border-style: inset;
	    border-width: 1px;
	    width: 50%;
	    border-color: black;
	}

	.contenido-productos {
		width: 75% !important;
	}

}

@media (max-width: 1200px) {
	
	.img-hidden-tablet {
		display: none;
	}

	.col-input-domain {
		width: 100%;
	}

	.contenedor-buscar-dominios {
		width: 100%;
	    padding-top: 1.5em;
	    border: 1px solid #e9e9e9;
		background-color: white;
	}

	.input-dominios {
		width: 95% !important;
	}

	.bloque-inferior {
		width: 46%;
		padding-left: 0 !important;
		border: 1px solid #e9e9e9;
		margin-bottom: 2em;
		margin-right: 0em !important;
	}

	.producto-descripcion {
		width: 90%;
		padding-bottom: 2em;
	}

	.bloque-superior {
		width: 86%;
		/*padding-right: 6.5em;*/
	}

	.texto-producto {
		width: 100%
	}

	.contenido-productos {
		display: inline-block;
		width: 35%;
		vertical-align: middle;
	}

	.ta-c-tablet {
		text-align: center !important;
	}

	.row-productos.redes {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

}


@media (max-width: 660px) {
	.bloque-inferior {
		width: 100%;
	}
}
