body {
    position: relative;
    font-size: 15px;
	line-height: 20px;
    overflow-wrap: hyphenate;
    overflow-y: scroll;
    background: url("/application/assets/img/bg.png") #F7F7F7;
    font-family: 'Open Sans', sans-serif;
}

.alert-right {
    width: 100%;
    z-index: 999999;
}

.invisible-badge{
    display: inline !important;
}

.invisible-desktop{
    display: none !important;
}

.center
{
	text-align:center;
}

.table tbody tr.success td {
background-color: #E9F5D4;
}


.table thead tr {
    background-color: #FAFAFA;
    border-bottom: 2px solid #ddd;
}

.table tbody tr.info td {
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.60);
}


.label-success, .badge-success {
    background-color: @successColor;
    text-shadow: none;
    font-size: 12px;
}

.label-important, .badge-important,
.label-error, .badge-error {
    background-color: @errorColor;
    text-shadow: none;
    font-size: 12px;
}

/*Tasks*/
.progress.task-progress
{
	height: 5px;
}


.well {
    background-color: #FAFAFA;
    border: 1px solid #EAEAEA;
}

/* Modal */
.modal-backdrop.fade.in {
    opacity: 0.5;
}

// Iconos
[class^="icon-"]::before, [class*=" icon-"]::before {
	font-size: 1.1em;
}


.input-append select.add-on,
.input-prepend select.add-on {
    height:29px;
    border-radius: 3px;
    background-color: white;
}
.section-head-title
{
	font-size: 2em;
	line-height: 2em;
	font-weight: normal;
	color: @sectionTitleColor;
    margin:0;
    min-width:100px;
}


section.row
{
	margin-left: 0;
}



td .alert {
padding:8px 14px;
margin-bottom: 0;
background-color: #FCF8E3;
border: 1px solid #FBEED5;
.border-radius(4px);
color: #C09853;
}

/* 2 - Bootstrap Modal Manager
------------------------------------------
*/

.section-title {
    float: left;
    line-height: .9em;
    font-size: 1.2em;
    color: #666;
    font-weight: normal;
}







/* Vars
--------------------*/
@sectionTitleColor: #79808A;
@mainButtonSectionColor: #51A8FF;
@mainOrangeColor: #FF9745;
@domainColor: #51A8FF;
@websiteColor: #45D3A6;
@emailColor: #DC4437;
@packamigoColor: #FFD600;
@databaseColor: #FFCC00;
@toolsColor:#FF005E;

@domainColorAlternative: #73B9FF;
@websiteColorAlternative: #7BD8BA;
@emailColorAlternative: #E67066;
@packamigoColorAlternative: #FCDF96;
@databaseColorAlternative: #000;
@toolsColorAlternative:#000;


@errorColor: #DC4437;
@errorColorAlternative: #E67066;
@successColor: #45D3A6;
@successColorAlternative: #7BD8BA;


.section-breadcrum {
    ul.breadcrumb {
        padding:0;
        li [class^="icon-"] {
            width:auto;
        }
        a:hover { 
            text-decoration:none;
        }
        font-size:19px;
        text-transform:uppercase;
        background:none;
        margin:20px 0;
    }
}
.modal ul.breadcrumb {
    font-size:14px;
}

.btn, .btn:hover, .breadcrumb a, .breadcrumb a:hover, .star, .star:hover {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}


.page-header
{

	.section-title
	{

		a{
            .border-radius(10px);
			padding: 0 15px;

		}

		a:hover
			{
				background: #FFF;
				text-decoration:none;
			}


		.icon
		{
			font-size: 15px;
		}

	}

}



.table th, .table td {
line-height: 32px;
}



.page-header > h3
{
    float:left;
}



/* Sections
--------------------*/
.domain
{

}


/* ColorBar's
--------------------*/


.colorbar {
    height: 3px;
    display: block;
}

.class-info-tec{
    // float: right;
    font-size: 13px;
    color: #686666;
}
.class-info-tit{
    color: black;
    font-size: 14px;
    font-weight: 600;
}
.row-information{
    // border-bottom: 1px solid #ccc;
    line-height: 30px;
    clear: both;
}
.row-information2 {
    border-bottom: 1px solid #ccc;
    line-height: 38px;
    clear: both;
}

.row-information2:last-child, .row-information:last-child {
    border-bottom:none;
}
/* Buttons
--------------------*/

.squarebutton {
    .border-radius(0);
    .box-shadow(0 5px 0 @mainButtonSectionColor);
    border:1px solid #E9E9E9;
    border-bottom: none;

}
a.squarebutton:hover {
    .box-shadow(0 5px 0 @mainButtonSectionColor);
    color:#fff;
    border-color:transparent;
}

.squarebutton > .icon {
    margin-bottom: .25em;
    margin-top: .65em;
}

.squarebuttons > li:first-child
{
	margin-left:0;
}

.squarebuttons > li {
    margin-bottom:10px;
}

.squarebutton:hover > .icon,
.squarebutton:active > .icon,
.squarebutton:focus > .icon {
    color: @mainButtonSectionColor;
}
.squarebutton:hover > .icon,
.squarebutton:active > .icon,
.squarebutton:focus> .icon {
    .transitioned(all 0.1s ease);
    .scale(1.1);
    z-index: 999;
}

/*************************/
.squarebutton.domain:hover > .icon,
.squarebutton.domain:active > .icon,
.squarebutton.domain:focus > .icon
{
    color: @domainColor;color:#fff;
}
.squarebutton.website:hover > .icon,
.squarebutton.website:active > .icon,
.squarebutton.website:focus > .icon
{
    color: @websiteColor;
    color:#fff;
}
.squarebutton.email:hover > .icon,
.squarebutton.email:active > .icon,
.squarebutton.email:focus > .icon
{
    color: @emailColor;color:#fff;
}
.squarebutton.packamigo:hover > .icon,
.squarebutton.packamigo:active > .icon,
.squarebutton.packamigo:focus > .icon
{
    color: @packamigoColor;color:#fff;
}
.squarebutton.database:hover > .icon,
.squarebutton.database:active > .icon,
.squarebutton.database:focus > .icon
{
    color: @databaseColor;color:#fff;
}
.squarebutton.tools:hover > .icon,
.squarebutton.tools:active > .icon,
.squarebutton.tools:focus > .icon
{
    color: @toolsColor;color:#fff;
}


.squarebutton.domain:hover {background:@domainColor;}
.squarebutton.domain,
.squarebutton.domain:hover {
    .box-shadow(0 5px 0 @domainColor);
}


.squarebutton.website:hover {background:@websiteColor;}
.squarebutton.website,
.squarebutton.website:hover {
    .box-shadow(0 5px 0 @websiteColor);
}

.squarebutton.email:hover {background:@emailColor;}
.squarebutton.email,
.squarebutton.email:hover {
    .box-shadow(0 5px 0 @emailColor);
}

.squarebutton.packamigo:hover {background:@packamigoColor;}
.squarebutton.packamigo,
.squarebutton.packamigo:hover {
    .box-shadow(0 5px 0 @packamigoColor);
}

.squarebutton.database:hover {background:@databaseColor;}
.squarebutton.database,
.squarebutton.database:hover {
    .box-shadow(0 5px 0 @databaseColor);
}

.squarebutton.tools:hover {background:@toolsColor;}
.squarebutton.tools,
.squarebutton.tools:hover {
    .box-shadow(0 5px 0 @toolsColor);
}

.squarebutton-info,
.squarebutton-info-title {
    color:#fff;
    padding:6px;
}
.squarebutton-info-title {
    text-align:center;
}

.squarebutton-info-title.domain {background:@domainColor;}
.squarebutton-info-title.tools {background:@toolsColor;}
.squarebutton-info-title.database {background:@databaseColor;}
.squarebutton-info-title.packamigo {background:@packamigoColor;}
.squarebutton-info-title.email {background:@emailColor;}
.squarebutton-info-title.website {background:@websiteColor;}

.squarebutton-info.domain {background:@domainColorAlternative;}
.squarebutton-info.tools {background:@toolsColorAlternative;}
.squarebutton-info.database {background:@databaseColorAlternative;}
.squarebutton-info.packamigo {background:@packamigoColorAlternative;}
.squarebutton-info.email {background:@emailColorAlternative;}
.squarebutton-info.website {background:@websiteColorAlternative;}

.squarebutton-info > ul li {
    font-size: .8em;
    text-align:center;
}

.page-header.domain > h3::before{
    background-color: @domainColor;
}

.sidebar-nav-fixed
{
    position: fixed;
	top: 65px;
	left: -155px;
	background: #FF7A00;
	height: 11px;
}
.sidebar-nav-fixed:hover
{
    position: fixed;
	top: 65px;
	left: 0;
	background: #EEE;
	height: auto;
}

/* Search
--------------------*/

/*  */

/* Webservers
--------------------*/

.servercard{
    cursor: pointer;
    border-radius: 6px;
    background-color: white;
    padding-top: 12%;
    padding-bottom: 12%;
    padding-left: 20%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.servercard:hover{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.servercardselected{
    cursor: pointer;  
    border-radius: 6px;
    background-color: white;
    padding-top: 12%;
    padding-bottom: 12%;
    padding-left: 20%;
    box-shadow: rgba(81,94,145,1) 0px 1px 3px 0px, rgba(81,94,145,1) 0px 1px 2px 0px;
}
.servercardselected:hover{
    box-shadow: rgba(59,68,104,1) 0px 1px 2px 0px, rgba(59,68,104,1) 0px 1px 3px 1px;
}

/* Modal
-------------------*/

.modal-header {
padding: 17px 15px;
border-bottom: 1px solid #EEE;
text-transform: none;
font-size: 1.5em;
color: #fff;
background-color: #333;
font-weight: lighter;
margin-bottom: .5em;
}


.modal .modal-body label {
    display: block;
    margin-bottom: 1em;
    font-size: 1em;
    color: grey;
    font-weight: lighter;
    margin-top: .9em;
    line-height: 26px;
}

.modal .modal-body label:first-child {
    margin-top: 0;
}

.modal-header h3 {
margin: 0;
line-height: 20px;
font-family: "Open Sans";
font-weight: 100;
font-size: 20px;
}
/*
.modal-body > input,
.modal-body > form > input {
width: 93%;
}*/


.modal.wide{
    width: 100%;
    margin: -250px 0 0 0;
    left: 0;
}

.modal.wide .modal-header,
.modal.wide .modal-body,
.modal.wide .modal-header
{
    width: 960px;
    left:50%;
    margin-left: 480px;
}

.modal {
    top:0!important;
    margin-top:40px!important;
    position:absolute!important;
}
.modal form {
    margin-bottom:0;
}

#form-login {

    select, select option {
        cursor: pointer;
    }

    .forgot-password {
        background: none;
        border: none;
        font-size: 13px;
        line-height: 30px;
    }
    fieldset h4 {
        font-weight:normal;
    }
}

.fz-input-prepend {
    position:relative;
    .add-on {
        position:absolute;
        margin-left: 10px;
        margin-top: 5px;
        z-index:50;
    }
    input[type="text"], input[type="password"], select {
        padding-left:32px;
    }
}

.dropdown .fz-input-prepend .add-on {
    margin-left: 7px;
    margin-top: 4px;
}

.btn
{
    Xpadding: .8em 1em;
    Xfont-size: 15px;
    background-image: none;
}

.btn-link
{
    background-color: transparent;
}

.btn.btn-primary {
    color: #FFF;
    background-color: #FF9745 !important;
}
.btn.btn-primary:hover {
    background-color: #FF7B13 !important;
}

.btn.btn-primaryblue {
    color: #FFF;
    background-color: #7582b6 !important;
}
.btn.btn-primaryblue:hover {
    background-color: #515e91 !important;
}


.btn.small {
    padding: 4px 7px;
    font-size: 13px;
}
.btn.x-small {
    height: 20px;
    padding: 3px 10px;
    font-size: 14px;
}

.btn.btn-ext {
    background-color: #5CB85C;
    border-color: #408832;
}

.btn.btn-ext:hover:not(.btn-disabled):not(.deshabilitado) {
    background-color: #33ba17;
}

.modal-backdrop {
    background-color: #48515F;
    opacity: .8;
}

.dropdown-task date {
    font-size: .7em;
    display: block;
    text-align: right;
    float: right;
}
.dropdown-task {
font-size: 13px;
}

.dropdown-task {
font-size: 13px;
min-width: 310px;
width:97%;
}

.dropdown-menu.dropdown-task {
    padding: 0 15px;
}
.dropdown-menu.dropdown-task .progress .bar{
    -webkit-transition: width 13s ease;
    -moz-transition: width 13s ease;
    -o-transition: width 13s ease;
    transition: width 13s ease;
}

.dropdown-menu.dropdown-task .tasks-title h4 {
    font-size:1.4em;
}

.dropdown-menu.dropdown-task li > div {
    border-bottom: 1px solid #EEE!important;
    padding: 6px 0;
}
.dropdown-menu.dropdown-task li > div:last-child {
    border-bottom:none;
}

/* DropDowns*/

.dropdown-menu a {
    display: block;
    padding: 2px 15px;
    clear: both;
    font-weight: normal;
    line-height: 27px;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
    text-decoration: none;
    color: #fff;
    background-color: @mainOrangeColor;
    background-image: none;
}

.navbar .dropdown-menu a {
    line-height:27px;
}


.tt-hint {
    display:none!important;
}

.tt-dropdown-menu.tt-is-open {
    width: 100%;
    //.border-radius !important;
}

.tt-suggestion {
    line-height: 25px;
    background-image: none;
    text-align:left;
    color:#555;
    padding: 1px 10px;
    font-size: 12px;
}

.tt-suggestion [class^="icon"] {
    margin-right: 5px;
}

.tt-suggestion.tt-is-under-cursor {
background: @mainOrangeColor;

}

.tt-suggestion.tt-is-under-cursor a {
 color: #fff;
}


.alert.alert-search {
    background-color: #FBFBFB;
    border-color: #E9E9E9;
    color: #685A50;
    z-index: -10;
}
#ferozo-suggest {
    border: none;
    box-shadow: none;
    margin-bottom: 0;
}

      /* Sticky footer styles
      -------------------------------------------------- */

      html,
      body {
        height: 95%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -32px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 40px;
      }
      #footer {
        background-color: #333;
        color:#EEE;
        height:66px;
      }

      .footer-inner {
          padding-top:23px;
      }

      #wrap > .container {
        /*padding-top: 60px;*/
      }


      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }

    label.error {
        font-size: 100%;
        margin-top: -10px;
        padding-left: 15px;
        color: #BD6D6D;
    }


.alert-block {
	width: 300px!important;
	right: 20px;
	bottom: 0;
	position:fixed;
}

#main-progress
{
	top: 50px;
	position: fixed;
	z-index: 1111;
	left: 0;
	width: 100%;
	height: 3px;
}
#main-progress
{
top: 3px;
position: fixed;
z-index: 1111;
left: 0;
width: 100%;
height: 50px;
opacity: 0.6;
}

#main-progress
{
top: 0px;
position: fixed;
z-index: 1111;
left: 0;
width: 100%;
height: 4px;
opacity:1;
}


.dropdown-task li .status
{
 padding:15px 5px;
 border-bottom:1px solid #EEE;
 }


 .task-progress
 {
 	margin:0;
 	padding:0;
 }

.nav-task .icon
{
	font-size: 16px;
	line-height: 5px;
	vertical-align: baseline;
}
tr.info td
{
	*line-height: 35px;
}

.page-header {
margin: 30px 0 15px 0;
}

.right
{
	text-align:right!important;
}

.forcewrap
{
	word-wrap:break-word;
}

.btn-group > .btn {
	display: inline-block;
}

.tag-status
{
	width: 10px;
	height: 10px;
	background: #93C745;
	margin: 0 auto;
    .border-radius(10px);
	position: relative;
	left: 0;
	border: 1px solid #B3CC4D;
	.box-shadow(3px 3px 5px #BBE452 inset);
}

ul.squarebuttons li.active .tag-status
{
	display:block;
}



.conection-status {
    height: 29px;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    background: #EEE;
    z-index: 9999999999;
    padding: 10px 40px;
    .border-radius(5px);
    top: 5px;
    .box-shadow(3px 3px 31px #333);
}

.help-block.error {
	color: #B1835F;
	background: rgba(255, 253, 234, 0);
    white-space: pre-wrap;
    margin-bottom:6px;
    margin-top:3px;
}

.help-block {
	font-size: 13px;
	margin: 0;
    padding:0;
    line-height: 100%;
}



.command-template {}
.command-value {
    font-size: .9em;
    margin-left:1.6em;
}
.command-template {
    font-weight: bold;
    white-space: nowrap;
/*    width: 60%;*/
    overflow: hidden;
    text-overflow:ellipsis;
}
.command-template {}
.command-template, .command-value {
    display: block;
}

.command-template i {
margin: 0;
margin-right:2px;
color: @mainOrangeColor;
}

.info-buttons{
    height: 15px;
    position: relative;
    right: -230px;
    top: -36px;
    width: 13px;
}

#notifications {
    cursor: default;
	position: fixed;
	z-index: 5000;
	bottom: 10px;
	right: 10px;
	width: 300px;
}

@media only screen and (max-width: 680px) {
	#notifications {
		width: 60%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
}

.alert.alert-notification {
    //.border-radius !important;
    .box-shadow(5px 5px 6px -6px #999);
    border: none;
}

.alert.alert-fz-success {
    background:#D0F1E7;
    color: #14694E;
}

.alert.alert-fz-success.with-icon {
    background: url("/application/assets/img/ok.png") no-repeat scroll 7px -2px #D0F1E7;
    padding-left:44px;
}

.alert.alert-fz-error {
    background:#FDF0CD;
    color: @errorColor;
    b {
        font-size: 1.05em;
    }
}

/* **************************************************************************************************** */
/* **************************************************************************************************** */
/* **************************************************************************************************** */
.rollOut {
  -webkit-animation-name: rollOut;
  animation-name: rollOut;
}
.sm-modal {
    background-clip: padding-box;
    background-color: #fbfbfb;
    border: 1px solid rgba(0, 0, 0, 0.3);
    .border-radius(6px);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    left: 50%;
    margin: -250px 0 0 -280px;
    overflow: auto;
    position: fixed;
    top: 50%;
    width: 473px;
    z-index: 1050;
}

.big-modal {
position: fixed;
top: 0;
left: 0;
z-index: 1050;
overflow: auto;
width: 100%;
margin: 0;
background-color: #fbfbfb;
border: 1px solid #999;
border: 1px solid rgba(0, 0, 0, 0.3);
.border-radius(6px);
-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
-webkit-background-clip: padding-box;
-moz-background-clip: padding-box;
background-clip: padding-box;
height: 100%;
}

.big-modal .modal-footer {
	position: absolute;
	width: 98%;
	bottom: 0;
}

.tlt-toggle {
    position: relative;
}


div.tlt {
    display	:none;
    position: absolute;
    top: -1px;
    width: 300px;
    right: 29px;
    border: 1px solid #D4D4D4;
    background: rgba(245, 245, 245, 0.96);
    padding: 7.5px 10px;
    line-height:100%;
    text-align: right;
}

.restart-confirm div.tlt {
    right: 87px;
    text-align: center;
    width: 158px;
}

.slideInSection {
    animation-duration: 0.5s;
    animation-name: slidein;
}
  
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

@-moz-keyframes spinner-circles {
  50% {
    -moz-transform: scale(1.0);
  }
}
@-webkit-keyframes spinner-circles {
  50% {
    -webkit-transform: scale(1.0);
  }
}
@-o-keyframes spinner-circles {
  50% {
    -o-transform: scale(1.0);
  }
}
@keyframes spinner-circles {
  50% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.spinner-circles {
  width: 25px;
  height: 25px;

  position: relative;
  top: 10px;
  left:-4px;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  .border-radius(50%);
  background-color: #fff;
  opacity: 0.75;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: spinner-circles .75s infinite ease-in-out;
  -moz-animation: spinner-circles .75s infinite ease-in-out;
  -o-animation: spinner-circles .75s infinite ease-in-out;
  animation: spinner-circles .75s infinite ease-in-out;

  -webkit-transform: scale(0);
  transform: scale(0);
}

.double-bounce2 {
  -webkit-animation-delay: -.375s;
  animation-delay: -.375s;
}

.radio input[type="radio"], .checkbox input[type="checkbox"] {
float: none;
height: 1.1em;
line-height: 1em;
padding: 0;
margin: 0;
margin-top:0;
cursor:pointer;
}

label.checkbox {
font-size: 1em;
margin: 0;
padding: 0;
}

.nav.nav-tabs {
margin: 0;
}

.tab-content.tab-content-white {
    background: #FAFAFA;
    border-left: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    padding: 1em 2em;
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 2em;
}

section.tab-content {
    margin:10px 0;
}

.indexhandlers, .protectedfolders {
    table {
        a {
            cursor: pointer;
            text-decoration:none;
        }
    }
    .iconspace [class^="icon-"]::before, .iconspace [class*=" icon-"]::before,
    .iconspace[class^="icon-"]::before, .iconspace[class*=" icon-"]::before {
        padding-right:3px;
    }
}

.label-floating {
    position: relative;
    top: 3px;
    cursor:pointer;
}

.loading-data {
    text-align:center;
}

.descScreens {
    /*font-style: italic;*/
    margin-bottom: 1.2em;
    font-size:.9em;
    color: @sectionTitleColor;
}

.rowDelete {
/*    border-color: #FF0000;*/
/*    border-style: solid;*/
}

.restart-confirm,
.delete-confirm {
    display: inline-block;
}

.btn.btn-primary:hover {
    background-color: #FF7B13 !important;
}

select, option {
    text-align:left!important;
}

a:not(href), select, option {
    cursor:pointer;
}

.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  .border-radius(5px);
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.accntinfo-chart {
    width:350px;
    height:100px;
    .legend div {
        background: transparent!important;
        position: relative!important;
    }
}

.mr10 {
    margin-right:10px!important;
}

.mr20 {
    margin-right:20px!important;
}
.mr3 {
    margin-right:3px!important;
}

.mr5 {
    margin-right:5px!important;
}

.ml0 {
    margin-left:0px!important;
}

.mt2 {
    margin-top:2px!important;
}

.mt7 {
    margin-top:7px!important;
}

.mt10 {
    margin-top:10px!important;
}
.mb25 {
    margin-bottom:25px!important;
}
.mb10 {
    margin-bottom:10px!important;
}
.pl0 {
    padding-left:0px!important;
}
.mb0 {
    margin-bottom:0!important;
}
.mt0 {
    margin-top:0!important;
}

header .btn-toolbar .btn {
    /* los botones de crear nuevos registros alineados al titulo de seccion*/
    margin-top:7px;
}

.animated.fast {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.superfast {
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.minimal {
  -webkit-animation-duration: .04s;
  animation-duration: .4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.navbar {
    .navbar-inner {
        border-bottom: none;
    }
    ul.nav li {
        a, .caret {
            letter-spacing: -1px;
            font-size:14px;
        }
    }
    ul.nav li.dropdown > a {
        color:#e2e2e2;
    }
    ul.nav li.dropdown > a:hover {
        color:#ECECEC;
    }
    ul.nav li.dropdown > .dropdown-toggle .caret {
        border-top-color: #e2e2e2;
        border-bottom-color: #e2e2e2;
    }

    [class^="icon-"]::before, [class*=" icon-"]::before {
        font-size: 1.3em;
    }

    ul.nav li a [class^="icon"] {
        position:relative;
        top:1px;
        left: -7px;
    }

    .l-3 {
        position:relative;
        left: -3px!important;
    }

}

.brand img {
    max-height: 27px;
}

.brand:hover img {
    -webkit-filter: ~"contrast(165%)";
}

table.table {
    border: none;
}

.topspace {
    margin-top:60px;
}

//Responsive celular vertical
@media (max-width: 767px)  {
    ul.breadcrumb {
        font-size:18px!important;
        margin: 5px 0!important;
        .divider {
            padding:0!important;
        }
    }
    .modal-header h3 {
        font-size:21px!important;
    }
    .hidecol {
        display: none;
    }
    .adjust {
        width: 50%;
    }
    .table th, .table td {
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 0px;
        padding-right: 8px;
    }
    .mobile-table {
        overflow-x: scroll; 
    }
    .processes {
        width: 22.3em;
        overflow-x: scroll;
        display: inline-block;
    }
    .section-head-title {
        line-height: 1.2em;
    }
    .input-prepend, .input-append {
        width: 90px;
    }
    .colblocks {
        column-count: 1 !important;
        column-width: 1.1em !important;
    }
    .btnwebsite{
        float: left !important;
        width: 100%;
    }
    .selectmobile{
        width: 130px !important;
    }
    .td-buttons {
        max-width: 118px;
        display: block;
        float: right;
    }
    .blocks {
        display: block !important;
        margin-top: 10px !important;
        margin-bottom: 0px !important;
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    hr {
        display: none !important;
    }
    body {
        height: 102% !important;
    }
    
}

//Responsive tablet vertical
@media (max-width: 979px) and (min-width: 770px){
    body {
        height: 102% important!;
    }
    .input-prepend, .input-append {
        width: 90px;
    }
    .span1 {
        width: 62px !important;
    }
    .mobile-table {
        overflow-x: scroll; 
    }
    .processes {
        width: 50em;
        overflow-x: scroll;
        display: inline-block;
    }
    .colblocks {
        -webkit-column-count: 4;
        column-count: 4;
        column-width: 1em;
        display: grid !important;                                            
        grid-auto-rows: 250px;                                        
        grid-gap: 10px;                                            
        grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));   
    }
    .blocks {
        display: inline-block !important;
        margin: 10px !important;
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
    }
    .divblocks {
        height: 13em;
    }
}

//Responsive tablet horizontal
@media (max-width: 1024px){
    .divblocks {
        height: 13em;
    }
    .processes {
        width: 52.3em;
        overflow-x: scroll;
        display: inline-block;
    }
}

.badge.badge-blue {
    background: @mainButtonSectionColor;
}

.badge.badge-orange {
    background: @mainOrangeColor;
}

#ferozo-login {
    .brand {
        margin-top:-2px;
    }
}

.txt-light {
    font-weight:100;
}

.pagination {
    margin:0;
}
.pagination a, .pagination span {
    line-height: 32px;
    border-left-width:1px;
}
.pagination-selector .dropdown-toggle {
    padding:6px 12px;
}

.navbar-inner .spinner-circles {
    position:absolute;
    left:-20px;
}
.navbar-inner .spinner-circles.spinner-circles-responsive {
    float: right;
    top: 8px;
    position:relative;
}

.bold {
    font-weight:bold!important;
}

.full-width {
    width:100%!important;
}

.full-width97, .modal input.full-width, .modal textarea.full-width {
    width:97%!important;
}

.bootstrap-tagsinput {
    .full-width97;
    margin-bottom:0!important;
}

input[type='range'] {
        -webkit-appearance: none;
        .border-radius(5px);
        box-shadow: inset 0 0 3px #333;
        background-color: @mainOrangeColor;
        height: 9px;
        vertical-align: middle;
        cursor:pointer;
}
input[type='range']::-moz-range-track {
        -moz-appearance: none;
        .border-radius(5px);
        box-shadow: inset 0 0 5px #333;
        background-color: #ff9745;
        height: 10px;
        z-index: 15;
}
input[type='range']::-webkit-slider-thumb {
        -webkit-appearance: none !important;
        .border-radius(20px);
        background-color: #FFF;
        box-shadow:inset 0 0 10px rgba(000,000,000,0.1);
        border: 1px solid #ff9745;
        height: 20px;
        width: 20px;
        z-index: 16;
}
input[type='range']::-moz-range-thumb {
        -moz-appearance: none;
        .border-radius(20px);
        background-color: #FFF;
        box-shadow:inset 0 0 10px rgba(000,000,000,0.1);
        border: 1px solid #ff9745;
        height: 20px;
        width: 20px;
        z-index: 16;
}

.thumbnails.thumbnails-packamigo .thumbnail,
.thumbnails.thumbnails-errorpages .thumbnail {
    background:#fff;
}
.thumbnails.thumbnails-errorpages .thumbnail h3 {
    margin-top:0;
}

.note-editor .note-codable {
    display:none;
}

.note-codable, .note-editable {
    //.thumbnail;
    min-height: 100px;
    max-height: 220px;
}

.text-small {
    font-size:.9em;
}

.text-half {
    font-size:.8em;
}

.packamigo {
    .nav.nav-list .nav-header {
        margin-left:-30px;
    }
    .add-on {
        color: #AAA;
    }
    .squarecontent .installed-label {
        margin-right: 8px;
        margin-top:-160px;
        position: relative;
        padding: 3px 8px;
    }
}

.email-filter .add-on {
    color: #AAA;
    left:0;
}

select optgroup{
    text-align:left
}

.squarecontent {
    min-height: 150px;
}
.squarecontents > li {
    height: inherit!important;
    margin-bottom:20px;
}
 
.squarecontent.install > .sc-header {
    padding: 5%;
}
.squarecontent.install > .sc-body {
    height: auto;
    height: 86px;
    padding: 0 5%;
}
.squarecontent.install > .sc-footer {
    padding: 0 5%;
}


.squarecontent.install > .sc-body .description {
    height: 80px;
    overflow: hidden;
}

.store-thumb {
    background:#dfdfdf;
    padding:46px 0;
}

.store-thumb i.icon {
    font-size:60px;
    color:#fff;
}

@media (max-width: 767px) {
    .squarecontent.install > .sc-body {
        height: 60px;
    }
}

input[type="file"] {
    font-size: 14px;
    line-height: 0px;
    height: 24px;
    cursor: pointer;
}

.input-prepend, .input-append { 
    margin-bottom:9px;
}

.input-prepend .add-on, .input-append .add-on,
.btn, .modal, .dropdown-menu, .alert, .thumbnail,
.well, input, select, textarea, .bootstrap-tagsinput {
  // .border-radius !important;
}


.help-block.error:before {
    font-family: FontAwesome;
    content: "\f062";
    margin-right: 5px;
}

.help-block.error:empty:before {
    font-family: inherit;
    content: "";
    margin-right: inherit;
}

.row-fluid .span2:nth-child(6n + 7),
.row-fluid .span3:nth-child(4n + 5),
.squarecontents .span2:nth-child(6n + 7),
.squarecontents .span3:nth-child(4n + 5),
.tab-content .span3:nth-child(4n + 5),
.modal .span3:nth-child(4n + 5),
.modal .span4:nth-child(3n + 4),
.fz-blockquote .span4:nth-child(3n + 4),
.fz-blockquote .span3:nth-child(4n + 5),
.modal .span6:nth-child(2n + 3),
ul.squarecontents li.span4:nth-child(3n + 4),
ul.thumbnails li.span4:nth-child(3n + 4),
ul.thumbnails li.span3:nth-child(4n + 5) {
  margin-left : 0px;
}

/*
.donweb-apps .app {
    background-color:#f9f9f9;
    color:#666;
    border:1px solid #ddd;
    overflow: hidden;
    min-height:120px;
    margin-bottom:10px;
    position:relative;
}

.donweb-apps .app .logo {
    background-color:#EEE;
    height:120px;
    overflow:hidden;
    padding-top:10px;
}
.donweb-apps .app .content {
    padding:12px 5px 0 8px;
}
.donweb-apps .app h4 {
    font-size: 15.5px;
    margin:0;
    margin-bottom:6px;
    text-transform: uppercase;
}
.donweb-apps .app .desc {
    font-size: .9em;
    display:block;
    margin-bottom:6px;
    line-height:130%;
}
.donweb-apps .app a {
    font-size:14px;
    text-transform: uppercase;
    position: absolute;
    bottom: 1px;
}

.donweb-apps .app .img {
    background-image: url('/application/assets/img/donweb-apps.png');
    background-repeat: no-repeat;
    min-height:97px;
    max-width:90px;
}
.donweb-apps .app .img.envialosimple { background-position: 0 0; }
.donweb-apps .app .img.sitiosimple { background-position: -90px 0; }
.donweb-apps .app .img.dattachat { background-position: -180px 0; }
.donweb-apps .app .img.dattaradio { background-position: -270px 0; }
*/

.vm-emtpy-records {
    h2, h3 {
        color: #333;
    }
    p {
        color: #555;
    }
    color: #555;
    margin-bottom:0;
}


#modal-suggestions {
    textarea {
        min-height: 100px;
        resize: vertical;
        overflow: auto;
    }
    .star {
        color: @mainOrangeColor;
        font-size: 28px;
        cursor: pointer;
    }
    .star:hover {
        color: #F60;
    }
}

.clear-search {
    text-decoration:none!important;
    z-index: 999;
    margin-left: -20px;
    margin-top: 4px;
}

.list-container-overflow {
    overflow-x:auto;
    max-height:122px;
}

.table-container-overflow {
    overflow-x:auto;
    max-height:450px;
    border: 1px solid #DDD;
}
.table-container-overflow > table {
    border:none;
}

.noborder {
    border:none!important;
}

.fz-blockquote {
    padding: 0 0 0 12px;
    border-left: 5px solid #EEE;
    margin-bottom: 5px;
}

.navbar .dropdown-menu li .icon,
.navbar .dropdown-menu li [class^="icon-"] {
    transition: all .1s ease-in-out;
}
.navbar .dropdown-menu:not(.dont-animate-icons) li:hover .icon,
.navbar .dropdown-menu:not(.dont-animate-icons) li:hover [class^="icon-"] {
    transform: scale(1.2);
}

.fz-rangeslider {
    margin-bottom:5px;
    .peaks {
        padding-left:1px;
        ul {
            position: relative;
        }

        ul,
        ul li {
            position:absolute;
            list-style:none;
            float:left;
            margin:0;
            padding:0;
        }
        ul li {
            border-left:1px solid #B3713E;
            height:10px;
            margin-top:-3px;
            z-index:-99;
        }
        ul li:last-child {
            margin-right:0!important;
        }

    }
}
.whitelabel-logo-container {
    padding:10px;
    background: #333;
    width: 50%;
    // margin: auto;
    height:50px;
    line-height:50px;
    text-align:center;
    img {
        max-height:50px;
    }
}
.progress {
    position: relative;
    .box-shadow(inset 0 0px 5px rgba(0, 0, 0, 0.1));
    .progress-legend {
        position: absolute;
        width: 100%;
        height: 100%;
        font-size: 12px;
        line-height: 20px;
        text-align: left;
        text-shadow: 1px 1px 1px #FFF;
        font-weight: bold;
        color: #2A3669;;
        left:10px;
    }
    .bar.bar-fz {
        background-color: #CACFE4;
    }
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mw130 {
    max-width: 130px;
}

.block {
    display:block;
}

.no-wrap {
    white-space: nowrap!important;
}

@media (max-width: 1200px) {
    .visible-desktop,
    .visible-desktop.hide-when-desktop-small, .invisible-badge {
      display: none !important;
    }

    .invisible-desktop{
        display: inline-block !important;
        margin-left: 40%;
    }

    .invisible-mobile{
        display: none !important;
    }

}

@media (max-width: 600px) {

    .invisible-desktop{
        display: inline-block !important;
        margin-left: 0;
    }

}

@media (max-width: 979px){
    body {
        height: 102% !important;
    }
}


.color-error {
    color: @errorColor;
}

.color-success {
    color: @successColor;
}