@dsCol1: 0;
@dsCol2: -265px;
@dsCol3: -530px;
@dsCol4: -795px;
@dsCol5: -1060px;
@dsCol6: -1325px;

@dsRow1: 0;
@dsRow2: -160px;
@dsRow3: -320px;
@dsRow4: -480px;
@dsRow5: -640px;
@dsRow6: -800px;
@dsRow7: -960px;
@dsRow8: -1120px;
@dsRow9: -1280px;

.ds-icon-container {
    background-color: #DFDFDF;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    position: relative;
    height: 130px;
}

.ds-icon {
    background-color: #DFDFDF;
    background-image: url("/application/assets/img/packamigo-apps.png");
    width:265px;
    height:165px;
}

.ds-icon-container .ds-icon {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.modal .ds-icon-container {
    margin-top: -10px;
    height:100px;
}

.ds-icon.default {background-position: @dsCol1 @dsRow1;}

.ds-icon.joomla {background-position: @dsCol2  @dsRow1;}
.ds-icon.oscommerce {background-position: @dsCol3  @dsRow1;}
.ds-icon.phpbb {background-position: @dsCol4  @dsRow1;}
.ds-icon.wordpress {background-position: @dsCol5  @dsRow1;}

.ds-icon.claroline {background-position: @dsCol1 @dsRow2;}
.ds-icon.phpmychat {background-position: @dsCol2 @dsRow2;}
.ds-icon.phpbb {background-position: @dsCol3 @dsRow2;}
.ds-icon.phpforms {background-position: @dsCol4 @dsRow2;}
.ds-icon.crafty {background-position: @dsCol5 @dsRow2;}

.ds-icon.xoops {background-position: @dsCol1 @dsRow3;}
.ds-icon.cubecart {background-position: @dsCol2 @dsRow3;}
.ds-icon.phpform {background-position: @dsCol3 @dsRow3;}
.ds-icon.crafty {background-position: @dsCol4 @dsRow3;}
.ds-icon.b2evolution {background-position: @dsCol5 @dsRow3;}

.ds-icon.phpwebsite {background-position: @dsCol1 @dsRow4;}
.ds-icon.hcl {background-position: @dsCol2 @dsRow4;}
.ds-icon.zikula {background-position: @dsCol3 @dsRow4;}
.ds-icon.luxcal {background-position: @dsCol4 @dsRow4;}
.ds-icon.dokuwiki {background-position: @dsCol5 @dsRow4;}

.ds-icon.phpcoin {background-position: @dsCol1 @dsRow5;}
.ds-icon.collab {background-position: @dsCol2 @dsRow5;}
.ds-icon.silentum {background-position: @dsCol3 @dsRow5;}
.ds-icon.phpfk {background-position: @dsCol4 @dsRow5;}
.ds-icon.e107 {background-position: @dsCol5 @dsRow5;}

.ds-icon.uphp {background-position: @dsCol1 @dsRow6;}
.ds-icon.grpoffice {background-position: @dsCol2 @dsRow6;}
.ds-icon.drupal {background-position: @dsCol3 @dsRow6;}
.ds-icon.tikiwiki {background-position: @dsCol4 @dsRow6;}
.ds-icon.cmsms {background-position: @dsCol5 @dsRow6;}

.ds-icon.moodle {background-position: @dsCol1 @dsRow7;}
.ds-icon.magento {background-position: @dsCol2 @dsRow7;}
.ds-icon.piwigo {background-position: @dsCol3 @dsRow7;}
.ds-icon.mgb {background-position: @dsCol4 @dsRow7;}
.ds-icon.lazarus {background-position: @dsCol5 @dsRow7;}

.ds-icon.osclass {background-position: @dsCol1 @dsRow8;}
.ds-icon.q2a {background-position: @dsCol2 @dsRow8;}
.ds-icon.sstripe {background-position: @dsCol3 @dsRow8;}
.ds-icon.concrete {background-position: @dsCol4 @dsRow8;}
.ds-icon.buggen {background-position: @dsCol5 @dsRow8;}

.ds-icon.modx {background-position: @dsCol1 @dsRow9;}
.ds-icon.blab {background-position: @dsCol2 @dsRow9;}
.ds-icon.deaf {background-position: @dsCol3 @dsRow9;}
.ds-icon.chat {background-position: @dsCol4 @dsRow9;}
.ds-icon.prestashop {background-position: @dsCol5 @dsRow9;}