<IfModule mod_rewrite.c>
  RewriteEngine On
  # Si el archivo/folder no existe, redirige todo a app.php
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ app.php [QSA,L]
</IfModule>
